---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="hidden sm:flex gap-x-4">
        <Link underline={false} href="/work">
          Experience
        </Link>
        <Link underline={false} href="/projects">
          Projects
        </Link>
         <Link underline={false} href="/blog">
          Blog
        </Link>
      </nav>
    </div>
  </Container>
</header>
